.as h1 {
  font-size: 32px;
  background-color: white;
  margin-left: 40%;
}

.comlogos {
  gap: 50px;
  margin-left: 15%;
  display: flex;
  align-items: center;
  margin-top: -10%;
  padding-top: 0%;
  background-color: white;
}

.comlogos img {
  width: 10%;
  background-color: white;
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-left: 10%;
}

.footbox1 img {
  width: 90%;
  margin-bottom: 10%;
}

.footbox1 {
  width: 20%;
}

.footbox3 {
  padding-left: 10%;
}

.footbox2 a {
  color: rgb(161, 160, 160);
  font-size: 14px;
  text-decoration: none;
  margin-bottom: 10%;
  display: block;
}

.footbox2 p {
  color: grey;
}

.b3logo {
  display: flex;
  gap: 20px;
  margin-bottom: 3%;
}

.footbox3 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footbox3 p {
  margin-bottom: 3%;
  color: rgb(153, 152, 152);
}

.footinfo {
  flex-direction: column;
  width: 60%;
  border-top: 1px solid grey;
  margin-left: 15%;
  align-items: start;
  font-size: 11px;
  line-height: 20px;
  color: rgb(168, 168, 168);
  padding-top: 5%;
  padding-left: 5%;
}

.info1 {
  width: 70%;
  margin-bottom: 3%;
}

.info2 {
  width: 44%;
  margin-bottom: 2%;
}

.infoo {
  margin-left: -8.5%;
  margin-top: -5%;
}

.as, .company, .companies {
  background-color: white;
}

.as::before {
  background: linear-gradient(to bottom, #f2f8f8, white);
}

.companies{
    margin-bottom: 10%;
}
